Import Pandas to load the dataset

In [3]:
import pandas as pd

Load the datasets

In [5]:
#load train.csv (training dataset)
train = pd.read_csv("https://raw.githubusercontent.com/aana0308/ML-Lab-Linear-Regression/main/data/train.csv")
train

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

In [6]:
#load test.csv (testing dataset)
test = pd.read_csv("https://raw.githubusercontent.com/aana0308/ML-Lab-Linear-Regression/main/data/test.csv")
test

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]